body {
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction:column;
    align:center;
    align-items:center;
    margin-left:50px;
    margin-right:50px;
    border-radius:10px;
}

.flex-item {
    margin-top: 10px;
    margin-bottom: 10px;
    width:95%;
    border-radius:10px;
}

.blog-post{
    margin-left:10px;
    margin-bottom:10px;
    text-align:left;
}